extends layout

block content

  h1#section1 Music Playback Control

  div#control
    a._next-song(href='#') Next Song
    br
    a._prev-song(href='#') Prev Song
    br
    a._play-pause(href='#') Play/Pause
