extends layout

block content
  h1#section1 Music Playlist

  .panel.panel-default
    .panel-heading
      a.pull-right(href='#') View all

      h4 All tracks
    |    &#x9;&#x9;&#x9;
    .panel-body
      audio#player(preload='')

      .list-group#music
        each music in files
          a.list-group-item(href='#', data-src='/music/' + music)= music
